# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: Docker@2
  inputs:
    containerRegistry: 'aroc-sc'
    repository: 'python-app'
    command: buildAndPush
    Dockerfile: Dockerfile
    tags: |
      latest
