apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python
  template:
    metadata:
      labels:
        app: python
    spec:
      imagePullSecrets:
      - name: acr-secret
      containers:
      - name: python
        image: demopythonacr123.azurecr.io/python-app:latest
        ports:
        - containerPort: 5000
